// Color Variables
$primary-color: #ff354d;
$secondary-color: #ffffff;
$background-color: #ffffff;
$text-color: #333;

// Font Variables
$font-family-base: 'Arial', sans-serif;
$font-family-heading: 'Helvetica', sans-serif;

// Spacing Variables
$spacing-unit: 16px;
$padding-unit: 8px;
